@model AppUser
@{
    ViewData["Title"] = "CreateUser";
}

<h1>CreateUser</h1>

<div>
    <form method="post">
        <div>
            <label asp-for="UserName" />
            <input asp-for="UserName" />
        </div>

        <input type="submit" />
    </form>
    <div asp-validation-summary="All"></div>
</div>