@model AppUser
@{
    ViewData["Title"] = "CreateUser";
}

<h1>CreateUser</h1>

<div>
    <form method="post">
        <div>
            <label asp-for="UserName">Urzytkownik :</label>
            <input asp-for="UserName" />
        </div>

        <div>
            <label asp-for="PasswordHash">Hasło :</label> 
            <input type="password" asp-for="PasswordHash" />
        </div>
        <input type="submit" />
    </form>
    <div asp-validation-summary="All"></div>
</div>