
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>asp-fallback-src te skrypty wykorzystywane do komunikacji z CDN</div>
@section Scripts
{
    <script asp-src-include="~/js/*.js" asp-src-exclude="~/js/scrB.js" asp-append-version="true"></script>
}
