
@{
    ViewData["Title"] = "FromForm";
}

<h1>FromForm</h1>
<form method="post">
    <div>
        <label>Wartość</label>
        <input name="id" type="number" />
    </div>
    <input type="submit" />
</form>

