
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<environment names="development">
    <p>to jest wersja Deweloperska</p>
</environment>
<environment names="production">
    <p>to jest wersja produkcyjna</p>
</environment>