@model NaukaAspNetCore.Models.Preson
@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>


<form asp-action="Darek">
    <input type="text" asp-for="FirstName" />
    <input type="text" asp-for="LastName" />
    <input type="submit" />
</form>